<div class="product-list-viewer" [ngClass]="openedProductEditor ? 'active-viewer' : ''"
  (clickOutside)="openedProductEditor = false" (click)="openedProductEditor = !openedProductEditor">
  <p [ngClass]="selectedProduct.id != 0 ? '' : 'placeholder'">
    {{selectedProduct.id != 0 ? selectedProduct.name : 'select or add new product'}}
    <span *ngIf="selectedProduct.id != 0" class="icon-cross"
      (click)="selectedProduct = defaultProduct; showProductForm = false"></span>
  </p>

  <i class="icon-chevron-down"></i>

  <div class="product-list-editor">
    <div class="editors">
      <div class="search-input">
        <input type="text" placeholder="Search products">
        <i class="icon-search"></i>
      </div>

      <div class="add-new-product" (click)="showProductForm = true">
        <i class="icon-plus"></i>
        Add new product
      </div>
    </div>
    <div class="horizontal-row"></div>

    <div class="product-list">
      <div class="product" *ngFor="let item of filteredProducts" (click)="selectedProduct = item; showProductForm = true">
        {{item.name}}
      </div>
    </div>
  </div>
</div>

<ng-container *ngIf="showProductForm">
  <app-product-form></app-product-form>
</ng-container>